@(comments: List[rovachan.core.Comment])

@import org.apache.commons.io.FilenameUtils
@import rovachan.controllers.routes._

<div class="board">
    <div class="comments">
        @for(comment <- comments) {
            <div class="comment">
                @if(!comment.image.isEmpty) {
                    <img src="@Files.img(FilenameUtils.getName(comment.image))" style="float: left">
                }
                @Html(comment.text)
            </div>
            <div class="clear"></div>
        }
    </div>
</div>