@(thread: rovachan.core.Thread)

@import org.apache.commons.io.FilenameUtils
@import rovachan.controllers.routes._

<div class="board">
    <div class="comments">
        @for(comment <- thread.comments) {
            <div class="comment">
                @if(!comment.image.isEmpty) {
                    <img src="@Files.img(comment.localImageUrl)" style="float: left">
                }
                @Html(comment.text)
            </div>
            <div class="clear"></div>
        }
    </div>
</div>